.timer {
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
}

.timer--before-start {
  border-color: #ffe692;
}

.timer--before-end {
  border-color: #308446;
}

.timer--after-end {
  border-color: #cc0605;
}

.timer__widget {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;
}

.timer__message {
  font-family: 'Arial';

  background-color: #ffffff;
  
  margin-botom: 5px;
  padding: 3px;
  border-bottom: 2px solid;
}

.timer__message--before-start {
  border-color: #ffe692;
}

.timer__message--before-end {
  border-color: #308446;
}

.timer__message--after-end {
  border-color: #cc0605;
}

.timer__widget-number {
  font-family: 'Arial';
  font-size: 40px;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 3px;
}

.timer__widget-separator {
  font-size: 30px;
  padding: 3px;
}
