.ballot-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #f0f0f0;
  min-height: 100vh;
}

.ballot-box__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ballot-box__form-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button {
  display: inline-block;

  background-color: #4caf50;
  color: white;

  border: none;
  padding: 15px 32px;
  margin: 4px 2px;
  cursor: pointer;

  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.button--disabled {
  background-color: #d3d3d3;
  cursor: default;
}

.ballot-box__disclaimer{
  position: absolute;
  bottom: 20px;
  font-family: 'Arial';
}
